@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(135deg,#71e7b6,#9b59b6);
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
}
.titre{
    margin-bottom: 10px;
}
.renseignement{
    transform: translateX(-150px);
    
}
.renseignement span{
    font-size: large;
    font-weight: bold;
}